<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>comment</key>
		<string></string>
		<key>host</key>
		<string>egghead.io</string>
		<key>integrationFileName</key>
		<string>EggHead.io.dci</string>
		<key>integrationUUID</key>
		<string>F15951D9-53C6-4941-8F5C-F659654E6AD0</string>
		<key>lastUpdateDateString</key>
		<string>2021-10-15</string>
		<key>name</key>
		<string>EggHead.io</string>
		<key>sampleLink</key>
		<string>https://egghead.io/lessons/git-only-commit-some-of-my-currently-modified-files-into-the-repository</string>
		<key>supportedURLRegex</key>
		<string>^https?://([^/]+\.)?egghead\.io/lessons/(?P&lt;ID&gt;[^/]+)/?$</string>
		<key>version</key>
		<string>1.0.0</string>
	</dict>
	<dict>
		<key>comment</key>
		<string></string>
		<key>host</key>
		<string>videodelivery.net</string>
		<key>integrationFileName</key>
		<string>videodelivery.dci</string>
		<key>integrationUUID</key>
		<string>5E79A06B-AE67-4EDD-9F43-3329B62EAC13</string>
		<key>lastUpdateDateString</key>
		<string>2021-11-16</string>
		<key>name</key>
		<string>Videodelivery.net</string>
		<key>sampleLink</key>
		<string>https://watch.videodelivery.net/16ff89fae3e33ed57e617bab87e1a7d9</string>
		<key>supportedURLRegex</key>
		<string>^https?://([^/]+\.)?videodelivery\.net/(?P&lt;ID&gt;[a-f0-9]+)$</string>
		<key>version</key>
		<string>1.0.0</string>
	</dict>
	<dict>
		<key>comment</key>
		<string></string>
		<key>host</key>
		<string>kmbc.com</string>
		<key>integrationFileName</key>
		<string>hearst.dci</string>
		<key>integrationUUID</key>
		<string>C5534FDE-4F1B-4E9D-BB96-EFD0414ED674</string>
		<key>lastUpdateDateString</key>
		<string>2021-12-18</string>
		<key>name</key>
		<string>Hearst Television</string>
		<key>sampleLink</key>
		<string>https://www.kmbc.com/article/tornado-slammed-parts-of-kentucky-recovery/38514862</string>
		<key>supportedURLRegex</key>
		<string>^https?://([^/]+\.)?(kmbc|wesh|wcvb)\.com/article/[^/]+/(?P&lt;ID&gt;\d+)/?(\?.*)?$</string>
		<key>version</key>
		<string>1.0.0</string>
	</dict>
	<dict>
		<key>comment</key>
		<string></string>
		<key>host</key>
		<string>inventors.com</string>
		<key>integrationFileName</key>
		<string>inventors.com.dci</string>
		<key>integrationUUID</key>
		<string>4992D45B-A246-431E-88F1-00B035536387</string>
		<key>lastUpdateDateString</key>
		<string>2025-03-26</string>
		<key>name</key>
		<string>Inventors</string>
		<key>sampleLink</key>
		<string>https://www.investors.com/ibd-videos/videos/trade-like-a-champion-featuring-mark-minervini</string>
		<key>supportedURLRegex</key>
		<string>https://www\.investors\.com/ibd-videos/videos/.+</string>
		<key>version</key>
		<string>1.0.1</string>
	</dict>
</array>
</plist>
