<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>comment</key>
		<string></string>
		<key>host</key>
		<string>example.com</string>
		<key>integrationFileName</key>
		<string>EggHead.io.dci</string>
		<key>integrationUUID</key>
		<string>F15951D9-53C6-4941-8F5C-F659654E6AD0</string>
		<key>lastUpdateDateString</key>
		<string>2021-10-15</string>
		<key>name</key>
		<string>Example</string>
		<key>sampleLink</key>
		<string>https://www.example.com/a/b/c/</string>
		<key>version</key>
		<string>1</string>
	</dict>
</array>
</plist>
